/**
 * Theming
 */
.bio-properties-panel {
  --silver-darken-80: #cdcdcd;

  --color-cccccc: #cccccc;
  --color-aaaaaa: #aaaaaa;
  --color-white: white;
  --color-black: black;
  --color-000000-opacity-20: rgba(0, 0, 0, 0.2);
  --color-000000-opacity-25: rgba(0, 0, 0, 0.25);
  --color-000000-opacity-40: rgba(0, 0, 0, 0.4);

  --color-background-light: #e8eaee;
  --color-line-base: #d2d2d2;

  --color-input-background: #f3f4f6;
  --color-input-focus: #0391ef;
  --color-input-focus-light: #f4faff;

  --text-size-base: 14px;
  --text-line-height: 1.5;

  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bio-properties-panel * {
  box-sizing: border-box;
  line-height: var(--text-line-height);
}

.bio-properties-panel.open {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bio-properties-panel-placeholder {
  padding: 10px;
  color: var(--color-silver-darken);
  font-size: 14px;
  text-align: center;
}

/**
 * Header
 */
.bio-properties-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--text-size-base);
  padding: 10px;
  margin-bottom: 2px;
  background-color: var(--color-background-light);
  border-bottom: 1px solid var(--color-cccccc);
  border-top: 1px solid var(--color-aaaaaa);
  width: 100%;
  z-index: 1;
  max-height: 64px;
  overflow: hidden;
}

.bio-properties-panel-header-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bio-properties-panel-header-labels {
  overflow: hidden;
}

.bio-properties-panel-header-type {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px;
}

.bio-properties-panel-header-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px;
}

/**
 * Scroll container
 */
.bio-properties-panel-scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  padding-bottom: 70px;
}

/**
 * Groups
 */
.bio-properties-panel-group {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-cccccc);
}

.bio-properties-panel-group-header.empty .bio-properties-panel-group-header-title {
  opacity: 0.6;
  font-weight: normal;
}

.bio-properties-panel-group-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--text-size-base);
  height: 32px;
  padding-right: 64px;
  user-select: none;
  overflow: hidden;
}

.bio-properties-panel-group-header .bio-properties-panel-group-header-title {
  opacity: 1;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px 12px 0;
}

.bio-properties-panel-group-header-buttons {
  position: absolute;
  right: 12px;
}

.bio-properties-panel-group-header-buttons .bio-properties-panel-group-header-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  padding: 0;
  border: none;
  background: none;
}

.bio-properties-panel-group-header-buttons .bio-properties-panel-group-header-button:last-child {
  margin-right: 0;
}

.bio-properties-panel-group-header-buttons .bio-properties-panel-add-entry {
  opacity: 0.3;
  width: 20px;
  height: 20px;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.bio-properties-panel-group-header-buttons .bio-properties-panel-add-entry:hover {
  opacity: 1;
}

.bio-properties-panel-group-header:not(.empty) .bio-properties-panel-add-entry {
  visibility: hidden;
}

.bio-properties-panel-group-header:not(.empty):hover .bio-properties-panel-add-entry {
  visibility: visible;
}


.bio-properties-panel-group-entries {
  border-bottom: solid 1px var(--color-silver-darken);
  display: none;
}

.bio-properties-panel-group:last-child .bio-properties-panel-group-entries {
  border-bottom: none;
}

.bio-properties-panel-group-entries.open {
  display: block;
}

.bio-properties-panel-arrow-down {
  transform: rotate(90deg);
  opacity: 0.3;
}

.bio-properties-panel-arrow-right {
  opacity: 0.3;
}

/**
 * Lists
 */ 
.bio-properties-panel-list {
  display: none;
}

.bio-properties-panel-list.open {
  display: block;
  margin-bottom: 6px;
}

.bio-properties-panel-list-item .bio-properties-panel-collapsible-entry-entries {
  padding-left: 15px;
  margin-bottom: 10px;
}

.bio-properties-panel-list-badge {
  align-self: center;
  color: var(--color-000000-opacity-40);
  border: 2px solid var(--color-000000-opacity-20);
  border-radius: 20px;
  min-width: 22px;
  font-size: 12px;
  font-weight: 600;
  height: 22px;
  padding: 2px 6px;
  user-select: none;
  line-height: normal;
}

/**
 * Basic entries
 */ 
.bio-properties-panel-add-entry {
  opacity: 0.3;
}

.bio-properties-panel-entry {
  margin: 2px 12px 4px;
}

.bio-properties-panel-entry:last-child {
  padding-bottom: 10px;
}

.bio-properties-panel-label,
.bio-properties-panel-description {
  display: block;
  margin: 4px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-size: 13px;
}

.bio-properties-panel-description {
  margin-top: 7px;
}

.bio-properties-panel-input {
  padding: 5px 6px 4px;
  border: 1px solid var(--color-line-base);
  border-radius: 3px;
  background-color: var(--color-input-background);
  font-size: 14px;
}

.bio-properties-panel-input[type=number],
.select.bio-properties-panel-input,
.bio-properties-panel-input[type=text] {
  display: block;
  width: 100%;
}

.bio-properties-panel-input:focus {
  outline: none;
  background-color: var(--color-input-focus-light);
  border: 1px solid var(--color-input-focus);
}

.bio-properties-panel-input[type="checkbox"], .bio-properties-panel-input[type="radio"] {
  margin: 0;
}

.bio-properties-panel-checkbox {
  margin-top: 12px;
  margin-bottom: 6px;
}

.bio-properties-panel-checkbox>.bio-properties-panel-label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 4px;
}


/**
 * Collapsible entries
 */
.bio-properties-panel-collapsible-entry-entries {
  position: relative;
  display: none;
}

.bio-properties-panel-collapsible-entry-entries .bio-properties-panel-entry:last-child {
  padding-bottom: 0;
}

.bio-properties-panel-collapsible-entry-entries.open {
  display: block;
}

.bio-properties-panel-collapsible-entry-entries  {
  position: relative;
  display: none;
}

.bio-properties-panel-collapsible-entry-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.bio-properties-panel-collapsible-entry-header .bio-properties-panel-collapsible-entry-header-title {
  padding: 2px 24px 2px 25px;
  font-size: var(--text-size-base);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bio-properties-panel-collapsible-entry-arrow {
  position: absolute;
  left: 8px;
  top: 0;
  width: 12px;
  height: 12px;
}

.bio-properties-panel-collapsible-entry-header .bio-properties-panel-arrow-down {
  opacity: 1;
}

.bio-properties-panel-collapsible-entry-header .bio-properties-panel-arrow-right {
  opacity: 1;
}

.bio-properties-panel-remove-entry {
  position: absolute;
  transform: translateY(calc(-50% - 1px));
  right: 11px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  visibility: hidden;
}

.bio-properties-panel-collapsible-entry-header:hover .bio-properties-panel-remove-entry {
  visibility: visible;
}

.bio-properties-panel-remove-entry:hover {
  opacity: 1;
}

.bio-properties-panel-collapsible-entry-entries::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 2px;
  top: 0;
  bottom: 0;
  background-color: var(--color-000000-opacity-25);
}