/**
 * Theming
 */
.bio-properties-panel {
  --color-silver-darken-80: #cdcdcd;

  --color-blue-205-100-95: #e5f4ff;
  --color-blue-205-100-50: #0095ff;

  --color-red-360-100-97: #fff0f0;
  --color-red-360-100-45: #e60000;

  --color-cccccc: #cccccc;
  --color-aaaaaa: #aaaaaa;
  --color-white: white;
  --color-black: black;
  --color-999999: #999999;
  --color-000000-opacity-5: rgba(0, 0, 0, 0.05);
  --color-000000-opacity-20: rgba(0, 0, 0, 0.2);
  --color-000000-opacity-25: rgba(0, 0, 0, 0.25);
  --color-000000-opacity-40: rgba(0, 0, 0, 0.4);

  --color-background-light: #e8eaee;

  --color-input-background: #f1f2f4;
  --color-input-border: #d5d6dd;
  --color-input-background-focus: var(--color-blue-205-100-95);
  --color-input-border-focus: var(--color-blue-205-100-50);

  --color-input-background-error: var(--color-red-360-100-97);
  --color-input-border-error: var(--color-red-360-100-45);
  --color-input-border-error-focus: var(--color-red-360-100-45);

  --color-toggle-switch-background-on: var(--color-blue-205-100-50);
  --color-toggle-switch-background-off: var(--color-silver-darken-80);

  --color-text-base: var(--color-black);
  --color-text-error: var(--color-red-360-100-45);

  --text-size-base: 14px;
  --text-line-height: 1.5;

  --color-description: var(--color-999999);

  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bio-properties-panel * {
  box-sizing: border-box;
  line-height: var(--text-line-height);
}

.bio-properties-panel.open {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bio-properties-panel-placeholder {
  padding: 10px;
  color: var(--color-silver-darken);
  font-size: 14px;
  text-align: center;
}

/**
 * Header
 */
.bio-properties-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--text-size-base);
  padding: 10px;
  margin-bottom: 2px;
  background-color: var(--color-background-light);
  border-bottom: 1px solid var(--color-cccccc);
  width: 100%;
  z-index: 1;
  max-height: 64px;
  overflow: hidden;
}

.bio-properties-panel-header-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  height: 48px;
}

.bio-properties-panel-header-labels {
  overflow: hidden;
}

.bio-properties-panel-header-type {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px;
}

.bio-properties-panel-header-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px;
}

/**
 * Scroll container
 */
.bio-properties-panel-scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  padding-bottom: 70px;
}

/**
 * Groups
 */
.bio-properties-panel-group {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-cccccc);
}

.bio-properties-panel-group-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--text-size-base);
  height: 32px;
  user-select: none;
  overflow: hidden;
  justify-content: space-between;
}

.bio-properties-panel-group-header .bio-properties-panel-group-header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px 12px 0;
}

.bio-properties-panel-group-header-buttons {
  display: flex;
  margin-right: 12px;
}

.bio-properties-panel-group-header-buttons .bio-properties-panel-group-header-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  padding: 0;
  border: none;
  background: none;
}

.bio-properties-panel-group-header-buttons .bio-properties-panel-group-header-button:last-child {
  margin-right: 0;
}

.bio-properties-panel-group-header-buttons .bio-properties-panel-add-entry {
  width: 20px;
  height: 20px;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.bio-properties-panel-group-header:not(.empty) .bio-properties-panel-add-entry {
  visibility: hidden;
}

.bio-properties-panel-group-header:not(.empty):hover .bio-properties-panel-add-entry {
  visibility: visible;
}


.bio-properties-panel-group-entries {
  border-bottom: solid 1px var(--color-silver-darken);
  display: none;
}

.bio-properties-panel-group:last-child .bio-properties-panel-group-entries {
  border-bottom: none;
}

.bio-properties-panel-group-entries.open {
  display: block;
}

.bio-properties-panel-arrow-down {
  transform: rotate(90deg);
}

.bio-properties-panel-dot {
  width: 6px;
  margin-right: 12px;
  margin-top: -1px;
}

/**
 * Lists
 */
.bio-properties-panel-list {
  display: none;
}

.bio-properties-panel-list.open {
  display: block;
  margin-bottom: 6px;
}

.bio-properties-panel-list-item .bio-properties-panel-collapsible-entry-entries {
  padding-left: 15px;
  margin-bottom: 10px;
}

.bio-properties-panel-list-badge {
  color: var(--color-white);
  background-color: var(--color-black);
  border: 2px solid;
  border-radius: 20px;
  min-width: fit-content;
  font-size: 12px;
  height: 22px;
  padding: 2px 6px;
  margin-right: 4px;
  user-select: none;
  line-height: normal;
}

/**
 * Basic entries
 */
.bio-properties-panel-entry {
  margin: 2px 12px 4px;
}

.bio-properties-panel-entry:last-child {
  padding-bottom: 10px;
}

.bio-properties-panel-label {
  display: block;
  margin: 4px 0;
  line-height: 18px;
  font-weight: 400;
  font-size: 13px;
}

.bio-properties-panel-description {
  color: var(--color-description);
  display: block;
  margin: 4px 0 8px;
  line-height: 16px;
  font-weight: 400;
  font-size: 12px;
}

.bio-properties-panel-input {
  padding: 5px 6px 4px;
  border: 1px solid var(--color-input-border);
  border-radius: 3px;
  background-color: var(--color-input-background);
  font-size: 14px;
}

.bio-properties-panel-input[type=number],
select.bio-properties-panel-input,
textarea.bio-properties-panel-input,
.bio-properties-panel-input[type=text] {
  display: block;
  width: 100%;
}

.bio-properties-panel-input:focus {
  outline: none;
  background-color: var(--color-input-background-focus);
  border: 1px solid var(--color-input-border-focus);
}

.bio-properties-panel-input[type="checkbox"], .bio-properties-panel-input[type="radio"] {
  margin: 0;
}

.bio-properties-panel-input[type="checkbox"] + label::after,
.bio-properties-panel-input[type="radio"] + label::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.bio-properties-panel-input[type="checkbox"]:checked + label::after,
.bio-properties-panel-input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.bio-properties-panel-checkbox {
  margin-top: 12px;
  margin-bottom: 6px;
}

.bio-properties-panel-checkbox .bio-properties-panel-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.bio-properties-panel-checkbox .bio-properties-panel-label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 24px;
}

.bio-properties-panel-checkbox .bio-properties-panel-label::before,
.bio-properties-panel-checkbox .bio-properties-panel-label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
}

.bio-properties-panel-checkbox .bio-properties-panel-label::before {
  content: " ";
  border: 1px solid var(--color-input-border);
  border-radius: 3px;
  background-color:var(--color-000000-opacity-5);
}

.bio-properties-panel-checkbox .bio-properties-panel-label::after {
  content: "\2714";
  color: var(--color-text-base);
  line-height: 1.5;
  text-align: center;
}

textarea.bio-properties-panel-input {
  resize: vertical;
}

.bio-properties-panel-entry.has-error .bio-properties-panel-input {
  border-color: var(--color-input-border-error);
  background-color: var(--color-input-background-error);
}

.bio-properties-panel-entry.has-error .bio-properties-panel-input:focus {
  border-color: var(--color-input-border-error-focus);
}

.bio-properties-panel-entry .bio-properties-panel-error {
  color: var(--color-text-error);
  margin: 4px 0;
  font-size: 13px;
}

/**
 * Toggle Switch
 */
.bio-properties-panel-toggle-switch .bio-properties-panel-field-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bio-properties-panel-toggle-switch .bio-properties-panel-toggle-switch__label {
  margin: 0;
  margin-left: 6px;
  font-size: 12px;
}

.bio-properties-panel-toggle-switch .bio-properties-panel-toggle-switch__switcher {
  position: relative;
  width: 32px;
  height: 16px;
}

.bio-properties-panel-toggle-switch .bio-properties-panel-toggle-switch__switcher input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
}

.bio-properties-panel-toggle-switch .bio-properties-panel-toggle-switch__switcher .bio-properties-panel-toggle-switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-toggle-switch-background-off);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.bio-properties-panel-toggle-switch .bio-properties-panel-toggle-switch__switcher .bio-properties-panel-toggle-switch__slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.bio-properties-panel-toggle-switch .bio-properties-panel-toggle-switch__switcher input[type='checkbox']:checked + .bio-properties-panel-toggle-switch__slider {
  background-color: var(--color-toggle-switch-background-on);
  box-shadow: 0 0 1px ;
}

.bio-properties-panel-toggle-switch .bio-properties-panel-toggle-switch__switcher input[type='checkbox']:checked + .bio-properties-panel-toggle-switch__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/**
 * Collapsible entries
 */
.bio-properties-panel-collapsible-entry-entries {
  position: relative;
  display: none;
}

.bio-properties-panel-collapsible-entry-entries .bio-properties-panel-entry:last-child {
  padding-bottom: 0;
}

.bio-properties-panel-collapsible-entry-entries.open {
  display: block;
}

.bio-properties-panel-collapsible-entry-entries  {
  position: relative;
  display: none;
}

.bio-properties-panel-collapsible-entry-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.bio-properties-panel-collapsible-entry-header .bio-properties-panel-collapsible-entry-header-title {
  padding: 2px 24px 2px 25px;
  font-size: var(--text-size-base);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bio-properties-panel-collapsible-entry-arrow {
  position: absolute;
  left: 8px;
  top: 0;
  width: 12px;
  height: 12px;
  font-size: 16px;
}

.bio-properties-panel-remove-entry {
  position: absolute;
  transform: translateY(calc(-50% - 1px));
  right: 11px;
  width: 16px;
  height: 16px;
  visibility: hidden;
}

.bio-properties-panel-collapsible-entry-header:hover .bio-properties-panel-remove-entry {
  visibility: visible;
}

.bio-properties-panel-collapsible-entry-entries::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 2px;
  top: 0;
  bottom: 0;
  background-color: var(--color-000000-opacity-25);
}
